.filters {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  padding: 2vh 5vh;
  font-family: "Barcade Brawl", sans-serif;
  font-size: 0.75rem;
  width: 60vw;

  position: absolute;
  z-index: 10;
  top: 70px
}

.regionFilter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.searchBarFilter {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  /* padding: 0 40px; */
  justify-content: center;
}

.sortByFilter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.typeFilter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.filters select {
  margin-top: 3px;
}

.filters input {
  margin-top: 3px;
}

@media (min-width: 768px) {
  .filters {
    display: flex;
    /* flex-direction: row; */
    gap: 1rem;
    /* width: 100vw; */
    /* max-width: 65%; */
  }

  .regionFilter,
  .sortByFilter,
  .typeFilter,
  .searchBarFilter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filters input,
  .filters select {
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
  }

  .sortByFilter label {
    white-space: nowrap;
  }
}
